PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/srilanka_weather

OPENWEATHER_API_KEY=your_openweathermap_api_key

JWKS_URI=https://api.asgardeo.io/t/<your-org>/oauth2/jwks
JWT_ISSUER=https://api.asgardeo.io/t/<your-org>/oauth2/token
JWT_AUDIENCE=your_asgardeo_client_id
